:host {
  display: block;
}

/* Ocultar scrollbar horizontal en los filtros */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
